
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: #F5F7FA;
    color: #0E2C40;
}


header {
    background: #0E2C40;
    color: white;
    padding: 15px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 0;
    font-size: 26px;
    font-weight: bold;
}

header a {
    color: #EFBC75;
    font-weight: bold;
    text-decoration: none;
}

header a:hover {
    text-decoration: underline;
}

.main-container {
    max-width: 650px;
    margin: 35px auto;
    background: white;
    border: 1px solid #DDE3E8;
    border-radius: 6px;
    padding: 25px 30px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.08);
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="password"],
input[type="file"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #A9BCCB;
    border-radius: 5px;
    margin-top: 4px;
}

button {
    background: #014D8D;
    border: none;
    padding: 10px 18px;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    font-size: 15px;
}

button:hover {
    background: #013d70;
}

img.profile-img {
    max-width: 180px;
    border: 2px solid #C1EEA7;
    padding: 6px;
    border-radius: 8px;
}

.success {
    color: #2b8a3e;
    margin-top: 10px;
}

.error {
    color: red;
    font-weight: bold;
}


footer {
    text-align: center;
    padding: 15px;
    margin-top: 40px;
    color: #0E2C40;
    font-size: 14px;
}
